
        body { 
            font-family: Arial, sans-serif; 
            text-align: center;
            padding-top: 80px; 
            background-color: rgb(230, 252, 248);
        }
        table { 
            width: 80%; 
            margin: 20px auto; 
            border-collapse: collapse; 
        }
        h1{
            font-weight: 900;
            margin-bottom: 40px;
            text-decoration: underline;
        }
        th, td { border: 1px solid #ddd; padding: 8px; text-align: center; border-radius: 10px;}
        th { background-color: #4CAF50; color: white; border-radius: 10px;}
        canvas { max-width: 600px; margin: auto; }
    